#contenedor{
    margin-top: 2%;
    border: 2px rgba(245, 137, 13, 0.979);
    width: 90%;
    height: auto;
}

.cabecera{
    background-color: black;
}

.nav-link{

}
.separador{
    font-size: xx-large;
    color: white;
    
}
.limite-form{
width: 400px;
}
.ml-auto,
.mx-auto {
  margin-left: auto !important;
}

.mr-auto,
.mx-auto {
  margin-right: auto !important;
}

.head{
    background-color: red;
    height: 600px;
}


#menu::after{
    position: absolute; 
    transform: translate3d(0px, 42px, 0px); 
    top: 0px; left: 0px; 
    will-change: transform;    
}

.a-actual{
    background-color: blue;
    border-radius: 15%;
    border: blue solid 1px;
}
.adm{
    margin-left: 5%;
    margin-right: 5%;

}

.a-menu{
    color: blue;
}
.text-1{
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    
}
a{

    text-decoration: none;
    font-size:medium ;
}
.text-2{
    color: black;
}
nav{
    margin-top: 2%;
    background-color: black;
}

.formulario{
    background-color: rgb(17, 24, 82);
}
body{
    background-color: rgba(245, 137, 13, 0.979);
}