*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;

}

.container{ 
    background-color: royalblue;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: auto;
    justify-content: space-around;
    max-width: 1000px;
}

h1{
    margin-bottom: 100px;
    color: seashell;
}

.img-class{
    width: 400px;
    height: 300px;
    margin-bottom: 5%;
    object-fit: cover;
    animation: nombre 1.5s infinite alternate;
    filter: brightness(70%);
}

.img-class:hover{
    filter: brightness(100%);
}



@keyframes nombre{
    to{
        transform: scale(1);
    }
    from{
        transform: scale(1.10);
    }
    
}
